/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
.ui-page { -webkit-backface-visibility: hidden; }
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    /*    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
        background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
        background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
        background-image:-webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #A7A7A7),
            color-stop(0.51, #E4E4E4)
            );*/
    background-attachment:fixed;
    /*    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;*/
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}
@font-face{ 
    font-family: 'futura-medium';
    font-weight: bold;
    src: 
        url('futura-medium.woff') format('woff');
}
@font-face{ 
    font-family: 'glacialindifferenceregular';
    font-weight: normal;
    src: 
        url('glacialindifference-regular-webfont.woff') format('woff');
}
@font-face{ 
    font-family: 'glacialindifferencebold';
    font-weight: bold;
    src: 
        url('glacialindifference-bold-webfont.woff') format('woff');
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
        /* offset horizontal: half of image width and text area width */
    }
}

/* general css */

h1 {
    font-family: 'futura-medium';
    font-size: 3.9vw !important;
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 1px;
}
h1 span{
    font-family: 'futura-medium';
    color: #ffa500 !important;
    font-size: 4.2vw !important;
    letter-spacing: 2px;
}
p{
    font-size: 2.5vw !important;
    font-family: 'glacialindifferenceregular';
    margin-top: 5px;
    margin-bottom: 5px;

}
.menu-block-background a{
    font-family: 'futura-medium';
    font-size: 3vw !important;
    color: #ffa500;
    letter-spacing: 1px;  
    margin-top: 5px;
    text-transform: uppercase;
}
a{
    font-family: 'futura-medium';
    font-size: 2vw !important;
    color: #ffa500;
}
.fixed-header{
    position:fixed;
    z-index:10;
    top:0;
    width:100%;
    border-bottom-width: 0px !important;
    border-top-width: 0px !important;
}
.fixed-footer{
    position:fixed;
    z-index:10;
    bottom:0;
    width:100%;
    border-bottom-width: 0px !important;
    border-top-width: 0px !important;
}
.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}
.event.listening {
    background-color:#333333;
    display:block;
}
.event.received {
    background-color:#4B946A;
    display:none;
}
@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
#parent{
    display:table;
    width:100%;
}
#parent div{
    display:table-cell;
}
#first{ text-align:left; }
#second{ text-align:left; }
#third{ text-align:right; }
.home-icon-list-page{
    float: left; 
    zoom: 60%;
}
.item-list-btn{
    background-color: #ffa500 !important; 
    width: 50px; 
    height: 50px; 
    border: 1px solid black;
    margin-top: 0px;
}
.intro-img{
    width: 100%; 
    height: auto; 
}

/* end of general css */

/* item page css */

.item-background{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
}
.item-page-logo{
    width: 30%; 
    height: auto; 
    position: absolute; 
    left:5%; 
    top: 10%;
}
.item-page-hr{
    width: 30%; 
    position: absolute; 
    left:5%; top: 26%;
}
.slogan-placement{
    position: absolute; 
    left:5%; 
    top: 27%;
}
.orange-thin{
    font-size: 3vw !important;
    font-family: 'glacialindifferenceregular';
    color: #ffa500 !important;
    letter-spacing: 2px;
}
.grey-thin{
    font-size: 3.5vw !important;
    font-family: 'glacialindifferenceregular';
    letter-spacing: 3px;
}
.flex-class {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.paragraph-list-page{
    float: left;
}
.item-breadcrumb{
    display: inline-block; 
    position: absolute; 
    left:5%; 
    top: 45%;
}
.item-title{
    position: absolute;
    left:5%; 
    top: 50%;
    width: 45%;
}
.item-description{
    position: absolute; 
    left:5%; 
    top: 65%; 
    width: 45%;
}
.item-buttons{
    position: absolute; 
    bottom: 15%; 
    left: 35%;
}
/* end of item page css */

/* overwrite css */

.ui-btn-active { 
    background-color: #f2bc74 !important;  
    -webkit-box-shadow: 0px 0px 13px 2px rgba(232,174,0,0.39);
    -moz-box-shadow: 0px 0px 13px 2px rgba(232,174,0,0.39);
    box-shadow: 0px 0px 13px 2px rgba(232,174,0,0.39);
    border: 1px solid orange !important;
}
.ui-page-theme-c .ui-btn, html .ui-bar-c .ui-btn, html .ui-body-c .ui-btn, html body .ui-group-theme-c .ui-btn, html head   body .ui-btn.ui-btn-c, .ui-page-theme-c .ui-btn:visited, html .ui-bar-c .ui-btn:visited, html .ui-body-c .ui-btn:visited, html body .ui-group-theme-c .ui-btn:visited, html head   body .ui-btn.ui-btn-c:visited{
    background-color: #eb992d !important;
    border: 1px solid #e28000;
}
.ui-btn-icon-notext.ui-btn-left{
    top:0px !important;
}
.ui-btn-left, .ui-btn-right{
    top:0px !important;
}
/*.ui-nosvg .ui-icon-carat-r:after {
    background-image: url(../vendor/css/images/icons-png/carat-r-black.png) !important;
}
.ui-nosvg .ui-icon-carat-l:after {
    background-image: url(../vendor/css/images/icons-png/carat-l-black.png) !important;
}
.ui-nosvg .ui-icon-bars:after{
    background-image: url(../vendor/css/images/icons-png/bars-black.png) !important;
}
.ui-nosvg .ui-icon-home:after{
    background-image: url(../vendor/css/images/icons-png/home-black.png) !important;
}*/
.ui-bar-c, .ui-page-theme-c .ui-bar-inherit, html .ui-bar-c .ui-bar-inherit, html .ui-body-c .ui-bar-inherit, html body .ui-group-theme-c .ui-bar-inherit{
    color: #fff;
    text-shadow: 0 0 0;
    font-family: 'glacialindifferenceregular';
    letter-spacing: 1px;
}
.ui-page-theme-c .ui-btn, html .ui-bar-c .ui-btn, html .ui-body-c .ui-btn, html body .ui-group-theme-c .ui-btn, html head   body .ui-btn.ui-btn-c, .ui-page-theme-c .ui-btn:visited, html .ui-bar-c .ui-btn:visited, html .ui-body-c .ui-btn:visited, html body .ui-group-theme-c .ui-btn:visited, html head   body .ui-btn.ui-btn-c:visited{
    color: #fff;  
    text-shadow: 0 0 0;
    font-family: 'glacialindifferenceregular';
    letter-spacing: 1px;  
}
.ui-content{
    background-size : 100% 100%;
    min-height: 100%;
    margin-bottom: 10%;
    margin-top: 13.5%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.ui-btn-icon-left:after, .ui-btn-icon-right:after, .ui-btn-icon-top:after, .ui-btn-icon-bottom:after, .ui-btn-icon-notext:after{
    background-color: transparent !important;
}
.ui-header .ui-title, .ui-footer .ui-title{
    font-size: 3.5vw !important;
    font-family: 'futura-medium' !important;
}
.ui-page-theme-c .ui-btn, html .ui-bar-c .ui-btn, html .ui-body-c .ui-btn, html body .ui-group-theme-c .ui-btn, html head   body .ui-btn.ui-btn-c, .ui-page-theme-c .ui-btn:visited, html .ui-bar-c .ui-btn:visited, html .ui-body-c .ui-btn:visited, html body .ui-group-theme-c .ui-btn:visited, html head   body .ui-btn.ui-btn-c:visited{
    margin-left: 10px !important; 
}
.ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
    text-shadow: 0 0px 0 !important;
}
.ui-page-theme-a a:visited, html .ui-bar-a a:visited, html .ui-body-a a:visited, html body .ui-group-theme-a a:visited{
    color: #e9901b;
}
.ui-btn-left{
    margin-left:0px;
}
.ui-page-theme-b .ui-btn, html .ui-bar-b .ui-btn, html .ui-body-b .ui-btn, html body .ui-group-theme-b .ui-btn, html head+body .ui-btn.ui-btn-b, .ui-page-theme-b .ui-btn:visited, html .ui-bar-b .ui-btn:visited, html .ui-body-b .ui-btn:visited, html body .ui-group-theme-b .ui-btn:visited, html head+body .ui-btn.ui-btn-b:visited{
    border: 0px;
}
/* end of overwrite css */

/* index page css */

.menu-block-background{
    background-image: url('../img/menu-name-background.jpg'); 
    width: 100%; 
    height: 40px;
    /*    border-top: 1px solid #858585;
        border-left: 1px solid #858585;
        border-right: 1px solid #858585;*/
    border-top: 1px solid #e9901b;
    border-left: 1px solid #e9901b;
    border-right: 1px solid #e9901b;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.menu-main-cat{
    width: 100%; 
    height: auto;  
    /*border: 1px solid #858585;*/
    border-left: 1px solid #e9901b;
    border-right: 1px solid #e9901b;
    border-bottom: 1px solid #e9901b;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.category-name{
    float: left;
    margin-left: 10px;
    margin-top: 10px; 
    text-decoration: none; 
    color: #353535 !important;
}
.menu-right-button{
    float: right; 
    margin-top: 0px; 
    height: 40px; 
    width: 40px; 
    border: 0px;
    background-color: #e9901b !important;
}
a.menu-right-button{
    margin-top: 0px !important; 
    margin-bottom: 0px !important; 
}

/* end of index page css */

/* cat page css */

.top-stripe{
    width:100%; 
    height: auto; 
    margin-top: 9%;
    position: fixed;
    z-index: 1000;
}
.stripe-space{
    padding-left: 10px; 
    padding-right: 10px; 
    padding-bottom: 10px;
}
.menu-name-background{
    background-image: url('img/menu-name-background.jpg'); 
    width:100%; 
    /*border: 1px solid #a7a7a7;*/
    border: 1px solid #ffa500;
}
.thumb-prod-img{
    width:30%; 
    float: left;
}
.thumb-prod-img img{
    width:100%; 
    height:auto;
}
.cat-page-item-description{
    display: inline-block; 
    width:60%; 
    padding-left: 2%;
}
.cat-page-item-description h1{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cat-page-item-description p{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.menu-list-btn{
    background-color: #ffa500 !important; 
    margin-top: 0px;
    width: 9%; 
    float: right;
    border: 1px solid #d88c00 !important;
}
.bottom-stripe{
    width: 100%; 
    height: auto; 
    margin-bottom: 7%; 
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    position: fixed;
    bottom: 0;
}
/* end of cat page css */

/* mobile-backgrounds */
#cover-background{
    background-image: url('../img/cover-background.jpg');
}
#stuffed-jalapeno{
    background-image: url('../img/appetizers/stuffed-jalapeno-with-cheese.jpg');
}
#chicken-fritters{
    background-image: url('../img/appetizers/chicken-fritters-with-mango-curry-ranch.jpg');
}
#shrimp-popcorn{
    background-image: url('../img/appetizers/shrmip-popcorn-with-japanese-chili-mayo.jpg');
}
#stuffed-mushrooms{
    background-image: url('../img/appetizers/stuffed-mushrooms-with-chili-mayo-souce.jpg');
}
#la-terrasse-burger{
    background-image: url('../img/burgers/la-terrasse-burger.jpg');
}
#swiss-mushroom-burger{
    background-image: url('../img/burgers/swiss-mushroom-burger.jpg');
}
#punch-line-burger{
    background-image: url('../img/burgers/punch-line-burgers.jpg');
}
#farmers-walk-burger{
    background-image: url('../img/burgers/farmers-walk-burger.jpg');
}
#clasic-cheese{
    background-image: url('../img/burgers/clasic-cheese-burger.jpg');
}
#green-grapes{
    background-image: url('../img/cold-beverages/green-grapes.jpg');
}
#kiwi{
    background-image: url('../img/cold-beverages/kiwi.jpg');
}
#lemon{
    background-image: url('../img/cold-beverages/lemon.jpg');
}
#mango{
    background-image: url('../img/cold-beverages/mango.jpg');
}
#mint{
    background-image: url('../img/cold-beverages/mint.jpg');
}
#mix{
    background-image: url('../img/cold-beverages/mix.jpg');
}
#orange{
    background-image: url('../img/cold-beverages/orange.jpg');
}
#pineapple{
    background-image: url('../img/cold-beverages/pineapple.jpg');
}
#pomegranades{
    background-image: url('../img/cold-beverages/pomegranades.jpg');
}
#red-grapes{
    background-image: url('../img/cold-beverages/red-grapes.jpg');
}
#strawberries{
    background-image: url('../img/cold-beverages/strawberries.jpg');
}
#watermellon{
    background-image: url('../img/cold-beverages/watermellon.jpg');
}
#chicken-chicago{
    background-image: url('../img/cold-sandwiches/chicken-chicago.jpg');
}
#turkey-original{
    background-image: url('../img/cold-sandwiches/turkey-original.jpg');
}
#tuna-spring{

}
#surf-and-turf{
    background-image: url('../img/cosmopolitan/surf-and-turf.jpg');
}
#killer-fried-shrimps{

}
#salmon-crab-salad{
    background-image: url('../img/salads/salmon-crab-salad.jpg');
}
#caesar-salad{
    background-image: url('../img/salads/caesar-salad.jpg');
}
#chicken-caesar-salad{
    background-image: url('../img/salads/chicken-caesar-salad.jpg');
}
#honey-goat-cheese{
    background-image: url('../img/salads/honey-goat-cheese-salad.jpg');
}
#arugulla-salad{
    background-image: url('../img/salads/arugulla-salad.jpg');
}
#quinoa-salad{

}
#fresh-baby-spinach{
    background-image: url('../img/salads/fresh-baby-spinach-salad.jpg');
}
#crispy-zucchini{
    background-image: url('../img/sides/crispy-zucchini.jpg');
}
#oven-baked-sweet{
    background-image: url('../img/sides/oven-baked-sweet-potatoes.jpg');
}
#wazoo-fries{
    background-image: url('../img/sides/wazoo-fries.jpg');
}
#purple-fries{
    background-image: url('../img/sides/purple-fries.jpg');
}
#french-fries{
    background-image: url('../img/sides/french-fries.jpg');
}
#philly-chease{
    background-image: url('../img/warm-sandwiches/philly-cheese-steak-sandwich.jpg');
}
#breaded-chicken-sandwich{
    background-image: url('../img/warm-sandwiches/breaded-chicken-sandwich.jpg');
}
#chicken-stroganoff{
    background-image: url('../img/warm-sandwiches/chicken-stroganoff-sandwich.jpg');
}
#grilled-halloumi{
    background-image: url('../img/warm-sandwiches/grilled-halloumi.jpg');
}
#La-Terrase-club-sandwich{
    background-image: url('../img/warm-sandwiches/La-Terrase-club-sandwich.jpg');
}

#art-cream{
    background-image: url('../img/hot-beverages/caffee-latte-art-cream.jpg');
}
#art-flower{
    background-image: url('../img/hot-beverages/caffee-latte-art-flower.jpg');
}
#art-leaf{
    background-image: url('../img/hot-beverages/caffee-latte-art-leaf.jpg');
}
#art-love{
    background-image: url('../img/hot-beverages/caffee-latte-art-love.jpg');
}
#coffee-black{
    background-image: url('../img/hot-beverages/coffee-black.jpg');
}
#coffee-cappuccino{
    background-image: url('../img/hot-beverages/coffee-cappuccino.jpg');
}
#espresso-short{
    background-image: url('../img/hot-beverages/coffee-espresso-short.jpg');
}
#espresso{
    background-image: url('../img/hot-beverages/coffee-espresso.jpg');
}
#milk-tea{
    background-image: url('../img/hot-beverages/milk-tea.jpg');
}
#plant-tea{
    background-image: url('../img/hot-beverages/plant-tea.jpg');
}
/* end of mobile-backgrounds */

/* media queries page css */
@media screen and (max-width: 425px){
    #cover-background{
        background-image: url('../img/cover-background-mobile.jpg');
    }
    #stuffed-jalapeno{
        background-image: url('../img/appetizers/mobile/stuffed-jalapeno-with-cheese.jpg');
    }
    #chicken-fritters{
        background-image: url('../img/appetizers/mobile/chicken-fritters-with-mango-curry-ranch.jpg');
    }
    #shrimp-popcorn{
        background-image: url('../img/appetizers/mobile/shrmip-popcorn-with-japanese-chili-mayo.jpg');
    }
    #stuffed-mushrooms{
        background-image: url('../img/appetizers/mobile/stuffed-mushrooms-with-chili-mayo-souce.jpg');
    }
    #la-terrasse-burger{
        background-image: url('../img/burgers/mobile/la-terrasse-burger.jpg');
    }
    #swiss-mushroom-burger{
        background-image: url('../img/burgers/mobile/swiss-mushroom-burger.jpg');
    }
    #punch-line-burger{
        background-image: url('../img/burgers/mobile/punch-line-burgers.jpg');
    }
    #farmers-walk-burger{
        background-image: url('../img/burgers/mobile/farmers-walk-burger.jpg');
    }
    #clasic-cheese{
        background-image: url('../img/burgers/mobile/clasic-cheese-burger.jpg');
    }
    #green-grapes{
        background-image: url('../img/cold-beverages/mobile/green-grapes.jpg');
    }
    #kiwi{
        background-image: url('../img/cold-beverages/mobile/kiwi.jpg');
    }
    #lemon{
        background-image: url('../img/cold-beverages/mobile/lemon.jpg');
    }
    #mango{
        background-image: url('../img/cold-beverages/mobile/mango.jpg');
    }
    #mint{
        background-image: url('../img/cold-beverages/mobile/mint.jpg');
    }
    #mix{
        background-image: url('../img/cold-beverages/mobile/mix.jpg');
    }
    #orange{
        background-image: url('../img/cold-beverages/mobile/orange.jpg');
    }
    #pineapple{
        background-image: url('../img/cold-beverages/mobile/pineapple.jpg');
    }
    #pomegranades{
        background-image: url('../img/cold-beverages/mobile/pomegranades.jpg');
    }
    #red-grapes{
        background-image: url('../img/cold-beverages/mobile/red-grapes.jpg');
    }
    #strawberries{
        background-image: url('../img/cold-beverages/mobile/strawberries.jpg');
    }
    #watermellon{
        background-image: url('../img/cold-beverages/mobile/watermellon.jpg');
    }
    #chicken-chicago{
        background-image: url('../img/cold-sandwiches/mobile/chicken-chicago.jpg');
    }
    #turkey-original{
        background-image: url('../img/cold-sandwiches/mobile/turkey-original.jpg');
    }
    #tuna-spring{

    }
    #surf-and-turf{
        background-image: url('../img/cosmopolitan/mobile/surf-and-turf.jpg');
    }
    #killer-fried-shrimps{

    }
    #killer-fried-shrimps{

    }
    #salmon-crab-salad{
        background-image: url('../img/salads/mobile/salmon-crab-salad.jpg');
    }
    #caesar-salad{
        background-image: url('../img/salads/mobile/caesar-salad.jpg');
    }
    #chicken-caesar-salad{
        background-image: url('../img/salads/mobile/chicken-caesar-salad.jpg');
    }
    #honey-goat-cheese{
        background-image: url('../img/salads/mobile/honey-goat-cheese-salad.jpg');
    }
    #arugulla-salad{
        background-image: url('../img/salads/mobile/arugulla-salad.jpg');
    }
    #quinoa-salad{

    }
    #fresh-baby-spinach{
        background-image: url('../img/salads/mobile/fresh-baby-spinach-salad.jpg');
    }
    #crispy-zucchini{
        background-image: url('../img/sides/mobile/crispy-zucchini.jpg');
    }
    #oven-baked-sweet{
        background-image: url('../img/sides/mobile/oven-baked-sweet-potatoes.jpg');
    }
    #wazoo-fries{
        background-image: url('../img/sides/mobile/wazoo-fries.jpg');
    }
    #purple-fries{
        background-image: url('../img/sides/mobile/purple-fries.jpg');
    }
    #french-fries{
        background-image: url('../img/sides/mobile/french-fries.jpg');
    }
    #philly-chease{
        background-image: url('../img/warm-sandwiches/mobile/philly-cheese-steak-sandwich.jpg');
    }
    #breaded-chicken-sandwich{
        background-image: url('../img/warm-sandwiches/mobile/breaded-chicken-sandwich.jpg');
    }
    #chicken-stroganoff{
        background-image: url('../img/warm-sandwiches/mobile/chicken-stroganoff-sandwich.jpg');
    }
    #grilled-halloumi{
        background-image: url('../img/warm-sandwiches/mobile/grilled-halloumi.jpg');
    }
    #La-Terrase-club-sandwich{
        background-image: url('../img/warm-sandwiches/mobile/La-Terrase-club-sandwich.jpg');
    }
    #art-cream{
        background-image: url('../img/hot-beverages/mobile/caffee-latte-art-cream.jpg');
    }
    #art-flower{
        background-image: url('../img/hot-beverages/mobile/caffee-latte-art-flower.jpg');
    }
    #art-leaf{
        background-image: url('../img/hot-beverages/mobile/caffee-latte-art-leaf.jpg');
    }
    #art-love{
        background-image: url('../img/hot-beverages/mobile/caffee-latte-art-love.jpg');
    }
    #coffee-black{
        background-image: url('../img/hot-beverages/mobile/coffee-black.jpg');
    }
    #coffee-cappuccino{
        background-image: url('../img/hot-beverages/mobile/coffee-cappuccino.jpg');
    }
    #espresso-short{
        background-image: url('../img/hot-beverages/mobile/coffee-espresso-short.jpg');
    }
    #espresso{
        background-image: url('../img/hot-beverages/mobile/coffee-espresso.jpg');
    }
    #milk-tea{
        background-image: url('../img/hot-beverages/mobile/milk-tea.jpg');
    }
    #plant-tea{
        background-image: url('../img/hot-beverages/mobile/plant-tea.jpg');
    }
}

@media screen and (max-width:426px){
    .fixed-footer, .fixed-header{
        height:40px !important;
    }
    a{
        font-size: 2.5vw !important;
        font-family: 'futura-medium';
    }
    .item-breadcrumb > a > p{
        font-size: 3vw !important;
        font-family: 'futura-medium';
    }
    .bottom-stripe{
        margin-bottom: 40px;
    }
    .top-stripe{
        margin-top: 40px;
    }
    .menu-block-background a{
        font-family: 'glacialindifferencebold';
        letter-spacing: 0px;  
        margin-top: 5px;
    }
    .ui-content{
        margin-top: 16%;
        margin-bottom: 13%;
    }
    .ui-nosvg .ui-icon-carat-l:after{
        zoom:80%;
    }
}



@media screen and (max-width:767px) and (min-width: 425px) {
    .home-icon-list-page{
        zoom: 35% !important;
    }
    .item-list-btn{
        width: 40px !important; 
        height: 40px !important; 
    }
    .menu-right-button{
        height: 40px !important; 
        width: 40px !important; 
    }
    .menu-block-background{ 
        height: 40px !important;
    }
}
@media screen and (max-width:425px) and (min-width: 375px) {
    .home-icon-list-page{
        zoom: 35% !important;
    }
    .item-list-btn{
        width: 35px !important; 
        height: 35px !important; 
    }
    .menu-right-button{
        height: 30px !important; 
        width: 30px !important; 
    }
    .menu-block-background{ 
        height: 30px !important;
    }
    .ui-btn-icon-left:after, .ui-btn-icon-right:after, .ui-btn-icon-top:after, .ui-btn-icon-bottom:after, .ui-btn-icon-notext:after{
        zoom:80%;
    }
}
@media screen and (max-width:374px) and (min-width: 320px) {
    .home-icon-list-page{
        zoom: 35% !important;
    }
    .item-list-btn{
        width: 30px !important; 
        height: 30px !important; 
    }
    .menu-right-button{
        height: 20px !important; 
        width: 20px !important; 
    }
    .menu-block-background{ 
        height: 20px !important;
    }
    a.category-name{
        margin-top:5px;
    }
    .ui-icon-bars, .ui-icon-home{
        zoom:80%;
    }
}
@media screen and (max-width:319px) {
    .home-icon-list-page{
        zoom: 30% !important;
    }
    .item-list-btn{
        width: 20px !important; 
        height: 20px !important; 
    }
    .menu-right-button{
        height: 20px !important; 
        width: 20px !important; 
    }
    .menu-block-background{ 
        height: 20px !important;
    }
    .ui-btn-icon-left:after, .ui-btn-icon-right:after, .ui-btn-icon-top:after, .ui-btn-icon-bottom:after, .ui-btn-icon-notext:after{
        zoom:70%;
    }
}

/* end of media queries page css */



